/*********************** Section carte ******************************/

#carte {
  /*background: url(pic/mandala_avec_auteur.jpg) center/cover;*/
  /* filter: blur(10px); */
  padding: 20px;
  min-height: 100vh;
  transition: 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#carte .wrapper {
  backdrop-filter: blur(5px) brightness(0.3);
  -webkit-backdrop-filter: blur(5px) brightness(0.4);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

#carte .wrapper::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

#carte .wrapper:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#carte .wrapper::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: #120907;
  z-index: -1;
  transition: transform .3s ease;
}

#carte .box-grid {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#carte .box-grid .container-picture-logo {
  background-image: url("../../assets/logo.png") ;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center ;
  background-size: 390px;
  border-radius: 9999px;
  width: 400px;
  height: 400px;
  margin: auto;
}

#carte .box-grid .border {
  height: 400px;
  width: 400px;
  border: solid 4px var(--secondary-color);
  margin-left: -40px;
  margin-top: 40px;
  border-radius: 9999px;
  position: absolute;
}

#carte .box-grid .border:nth-child(1) {
  margin-right: -100px;
  margin-bottom: 50px;
  border: solid 4px var(--main-color);
}

#carte .box-grid .container-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  gap: 0em;
}

#carte .box-grid .container-content .content-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5px 30px;
}

#carte .box-grid .container-content .content-title h2 {
  color: var(--secondary-color);
  font-size: clamp(2em, 4vw, 3.8em);
  line-height: 1.3;
}

#carte .box-grid .container-content .content-title h1 {
  font-size: clamp(2.5em, 5vw, 4em);
  line-height: 1.3;
}

#carte .box-grid .container-content .content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 500px;
}

#carte .box-grid .container-content .content p {
  text-align: center;
  color: var(--text-color);
  font-weight: 500;
  font-size: 18px;
}

#carte .box-grid .container-content .content p span {
  color: var(--main-color);
  font-weight: 600;
}

#carte .box-grid .container-content .content .info {
  display: flex;
  justify-content: space-around;
  padding: 0 30px;
}

#carte .box-grid .container-content .content .info a {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: transparent;
  border: 2px solid var(--main-color);
  border-radius: 5px;
  color: var(--text-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 17px;
  transition: 0.5s ease;
  text-decoration: none;
}

#carte .box-grid .container-content .content .info a:hover {
  border: 2px solid var(--secondary-color);
}

#carte .box-grid .container-content .content .info .social {
  display: flex;
  gap: 1em;
}

#carte .box-grid .container-content .content .info .social a {
  padding: 10px;
  background-color: var(--main-color);
  border: none;
  border-radius: 100px;
  cursor: pointer;

  transition: 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

#carte .box-grid .container-content .content .info .social a:hover {
  background-color: #000;
}

#carte .box-grid .container-content .content .info .social a i {
  scale: 1.3;
}

#carte .container-arrow {
  position: absolute;
  bottom: 70px;
}

#carte .container-arrow i {
  scale: 3;
  transition: 0.5s ease;
  cursor: pointer;
}

#carte .container-arrow i:hover {
  color: var(--secondary-color) !important;
}

@media screen and (max-width: 1000px) {
  #carte .box-grid {
    grid-template-columns: 1fr;
    gap: 53px;
    bottom: -100px;;
  }

  #carte .wrapper{
    margin-top: 90px;
  }

  

  #carte .container-arrow {
    display: none;
  }
}


/**************************************************/

#descriptioncarte {
  background-color: #26962a;
  min-height: 100vh;
  transition: 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#descriptioncarte .wrapper {
  backdrop-filter: blur(5px) brightness(0.4);
  -webkit-backdrop-filter: blur(5px) brightness(0.4);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;

  width: 100%;
}

#descriptioncarte .wrapper::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

#descriptioncarte .wrapper:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#descriptioncarte .wrapper::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: #120907;
  z-index: -1;
  transition: transform .3s ease;
}

#descriptioncarte .wrapper .content-main-title h1 {
  font-size: clamp(2.5em, 5vw, 4em);
  line-height: 1.3;
}

#descriptioncarte .box-grid {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#descriptioncarte .box-grid .container-picture-boissons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/boissons.jpg") ;
  background-position: center ;
  background-size: cover;
  border-radius: 40px;
  width: 600px;
  height: 850px;
  margin: auto;

}

#descriptioncarte .box-grid .container-picture-formules {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/formules.jpg") ;
  background-position: center ;
  background-size: cover;
  border-radius: 40px;
  width: 600px;
  height: 850px;
  margin: auto;
}




#descriptioncarte .box-grid .container-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  gap: 0em;
}

#descriptioncarte .box-grid .container-content .content-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5px 30px;
}

#descriptioncarte .box-grid .container-content .content-title h2 {
  color: var(--secondary-color);
  font-size: clamp(1em, 2vw, 2.4em);
  line-height: 1.3;
}

#descriptioncarte .box-grid .container-content .content-title h1 {
  font-size: clamp(2.5em, 5vw, 4em);
  line-height: 1.3;
}

#descriptioncarte .box-grid .container-content .content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 500px;
}

#descriptioncarte .box-grid .container-content .content p {
  text-align: center;
  color: var(--text-color);
  font-weight: 500;
  font-size: 18px;
}

#descriptioncarte .box-grid .container-content .content p span {
  color: var(--main-color);
  font-weight: 600;
}

#descriptioncarte .box-grid .container-content .content .info {
  display: flex;
  justify-content: space-around;
  padding: 0 30px;
}

#descriptioncarte .box-grid .container-content .content .info a {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: transparent;
  border: 2px solid var(--main-color);
  border-radius: 5px;
  color: var(--text-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 17px;
  transition: 0.5s ease;
  text-decoration: none;
}

#descriptioncarte .box-grid .container-content .content .info a:hover {
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
}

#descriptioncarte .box-grid .container-content .content .info .social {
  display: flex;
  gap: 1em;
}

#descriptioncarte .box-grid .container-content .content .info .social a {
  padding: 10px;
  background-color: var(--main-color);
  border: none;
  border-radius: 100px;
  cursor: pointer;

  transition: 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

#descriptioncarte .box-grid .container-content .content .info .social a:hover {
  background-color: var(--secondary-color);
}

#descriptioncarte .box-grid .container-content .content .info .social a i {
  scale: 1.3;
}

#descriptioncarte .container-arrow {
  position: absolute;
  bottom: 70px;
}

#descriptioncarte .container-arrow i {
  scale: 3;
  transition: 0.5s ease;
  cursor: pointer;
}

#descriptioncarte .container-arrow i:hover {
  color: var(--secondary-color) !important;
}

@media screen and (max-width: 1000px) {
  #descriptioncarte .box-grid {
    grid-template-columns: 1fr;
    gap: 53px;
    bottom: -100px;;
  }


}

@media screen and (max-width: 1200px){
  #descriptioncarte .box-grid .container-picture-boissons{
    width: 450px;
    height: 650px;
  }
}

@media screen and (max-width: 800px){
  #descriptioncarte .box-grid .container-picture-boissons{
    width: 350px;
    height: 500px;
  }
}

@media screen and (max-width: 1200px){
  #descriptioncarte .box-grid .container-picture-formules{
    width: 450px;
    height: 650px;
  }
}

@media screen and (max-width: 800px){
  #descriptioncarte .box-grid .container-picture-formules{
    width: 350px;
    height: 500px;
  }
}